.about-div {
    display: flex;
    margin: 20px 0 40px 0;
}

.aboutImgDiv {
    width: 50%;
}

.aboutText {
    width: 50%;
    padding: 10px;
    line-height: 1.8rem;
}

.aboutImg {
    width: 800px;
    height: 500px;
}