
  .wrapper {
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    position: relative;
  }
  
  .carousel {
    position: relative;
    max-height: 600px;
  }
  
  .carousel img {
    width: 100%;
    max-height: 600px;
  }
  
  .carousel .description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    font-weight: normal;
    font-size: 1.2em;
    padding: 20px;
    opacity: 0;
  }
  
  .carousel:hover .description {
    opacity: 1;
  }
  
  .carousel .navigation {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .carousel .navigation .play-pause {
    position: absolute;
    bottom: 0;
    right: 10px;
    text-align: center;
  }
  
  .carousel .navigation .play-pause button {
    border: none;
    width: 25px;
    background-color: transparent;
    color: white;
    font-size: 110%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  
  .carousel .navigation .dots {
    position: absolute;
    bottom: 0;
    left: 10px;
    text-align: center;
  }
  
  .carousel .navigation .dots button {
    border: none;
    width: 20px;
    background-color: transparent;
    color: #fff;
    vertical-align: middle;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  .carousel .navigation .dots button:disabled {
    color: #fff;
  }
  
  .carousel .navigation .dots button::before {
    content: '⬤';
  }
  
  .carousel .navigation .dots button:disabled::before {
    font-size: 1.3em;
  }
  
  .carousel .navigation button {
    opacity: 0.6;
  }
  
  .carousel:hover .navigation button {
    opacity: 1;
  }
  
  .carousel .navigation button:hover {
    color: #88f;
  }
  
  .carousel .step-precentage {
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    background-color: #fff;
    opacity: 0.8;
    animation: step-time linear;
  }
  
  @keyframes step-time {
    0% {
      width: 0;
    }
  
    100% {
      width: 100%;
    }
  }
  